name: PSScriptAnalyzer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "21 11 * * 6"

permissions:
  contents: read

jobs:
  psscriptanalyzer:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - name: Install PSScriptAnalyzer
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Install-Module PSScriptAnalyzer -Force -Scope CurrentUser

      - name: Run PSScriptAnalyzer and create SARIF
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          $rules = @(
            'PSAvoidGlobalAliases',
            'PSAvoidUsingConvertToSecureStringWithPlainText'
          )

          Invoke-ScriptAnalyzer -Path . -Recurse -IncludeRule $rules |
            ConvertTo-Sarif -OutputFile results.sarif

      - name: Upload SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
