name: PSScriptAnalyzer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '21 11 * * 6'

permissions:
  contents: read

jobs:
  psscriptanalyzer:
    name: PSScriptAnalyzer
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - name: Install PSScriptAnalyzer
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Install-Module PSScriptAnalyzer -Force -Scope CurrentUser

      - name: Run PSScriptAnalyzer (SARIF)
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          $rules = @('PSAvoidGlobalAliases','PSAvoidUsingConvertToSecureStringWithPlainText')
          Invoke-ScriptAnalyzer -Path . -Recurse -IncludeRule $rules -ReportSummary `
            | ConvertTo-Sarif -OutputFile results.sarif

      - name: Upload SARIF results file
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
